{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% load bootstrap4 %}
<div class="container">
<div class="card">
    <div class="card-header">
        <h2>Login</h2>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            <button type="submit" class="btn btn-dark">Login</button>
        </form>
    </div>
</div>
</div>
{% endblock %}