<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>{% block title %}Base{% endblock %}</title>
    {{ form.media }}
</head>
<body>

    <div class="header">
        <div class="container" >
            <div class="row justify-content-between" style="padding-top: 15px">
                <div class="col-auto text-white">
                    <a href="{% url 'index' %}" class="text-light" style="text-decoration: none"><h2>Deadtracker</h2></a>
                </div>
                <div class="col-auto">
                    {% if not user.is_authenticated %}
                        <a class="btn btn-light" href="{% url 'login' %}">Log in</a>
                        <a class="btn btn-light" href="{% url 'register' %}">Sign Up</a>
                    {% else %}
                        <span class="text-light" style="padding-right: 20px;">You are logged in as: <a class="text-light" href="{% url 'user' user.username %}">{{ user.username }}</a></span>
                        <a class="btn btn-outline-light" href="{% url 'notifications' %}">Notifications<span class="badge badge-pill badge-danger">{{ lib_user.active_notifications|length }}</span></a>
                        <a class="btn btn-light" href="{% url 'logout' %}">Log Out</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <p></p>
    {% block content %}
    {% endblock %}
</body>
</html>