{% extends "base.html" %}

{% block content %}
{% load bootstrap4 %}
    <div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Edit task</h2>
        </div>
        <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horisontal' %}
            <button type="submit" class="btn btn-dark">Confirm changes</button>
        </form>
        </div>
    </div>
    </div>
{% endblock content %}