{% extends "base.html" %}

{% block content %}
    <div class="container alert alert-danger" role="alert">
        <h1 class="alert-heading">You can't perform this action.</h1>
    </div>
{% endblock content %}