{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <a class="nav-link btn btn-lg btn-dark" href="{% url 'tasks' %}">Tasks</a>
        </div>
        <div class="col">
            <a class="nav-link btn btn-lg btn-dark" href="{% url 'plans' %}">Plans</a>
        </div>
    </div>
</div>

{% endblock %}