{% extends 'base.html' %}

{% block title %}Deadtracker Web{% endblock %}

{% block content %}
{% load bootstrap4 %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <h1>Welcome to deadtracker!</h1>
            <h4>To start working - just <a href="{% url 'login' %}" class="text-dark">Log in</a> or <a href="{% url 'register' %}" class="text-dark">Sign up</a></h4>
        </div>
    </div>
</div>

{% endblock %}