{% extends 'base.html' %}

{% block title %}Notifications{% endblock %}

{% block content %}
{% load bootstrap4 %}
<div class="container">
    {% if notifications %}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Message</th>
            </tr>
        </thead>
        <tbody>
        {% for notification in notifications %}
            <tr {% if notification.new %} class="table-success" {% endif %}>
                <th scope="row">{{ notification.time }}</th>
                <td>{{ notification.message }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h3>You don't have any notifications.</h3>
    {% endif %}
</div>

{% endblock %}