{% extends 'base.html' %}

{% block title %}Plans{% endblock %}

{% block content %}
{% load bootstrap4 %}
<div class="container">
    {% if plans %}
    <table class="table table-stripped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Plan</th>
                <th scope="col">Original task</th>
                <th scope="col">Period</th>
                <th scope="col">Repeats left</th>
            </tr>
        </thead>
        <tbody>
        {% for plan in plans %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'plan' plan.id %}">{{ plan.name }}</a></td>
                <td><a href="{% url 'task' plan.task.id %}">{{ plan.task.name }}</a></td>
                <td>{{ plan.period }} day(s)</td>
                <td>{{ plan.repeats }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h3>You don't have any plans.</h3>
    {% endif %}
    <p></p>
    <a class="btn btn-lg btn-dark" href="{% url 'create_plan' %}">Create new plan</a>
</div>

{% endblock %}