{% extends "base.html" %}

{% block title %}Plan {{task.id}}{% endblock title %}

{% block content %}
    <div class="container">
    {% if error %}
        <div class="container alert alert-danger" role="alert">
            <h5 class="alert-heading">An error occured while performing operation:</h5>
            <div class="alert-body">{{ error }}</div>
        </div>
    {% endif %}
        <div class="card">
            <h2 class="card-header">
                Plan: {{ plan.name }}
            </h2>
            <div class="card-body">
                <p>Task: <a href="{% url 'task' plan.task.id %}">{{ plan.task.name }}</a></p>
                <p>Period: {{ plan.period }}</p>
                <p>Repeats: {{ plan.repeats }}</p>
                <p>
                <a class="btn btn-dark" href="{% url "delete_plan" plan.id %}">Delete plan</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}