{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
{% load bootstrap4 %}
<div class="container">
<div class="card">
    <div class="card-header">
        <h2>Sign up</h2>
    </div>
    <div class="card-body">
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <button type="submit" class="btn btn-dark">Sign up</button>
    </form>
    </div>
</div>
</div>
{% endblock %}