{% extends "base.html" %}

{% block title %}Task {{task.id}}{% endblock title %}

{% block content %}
    <div class="container">
    {% if error %}
        <div class="container alert alert-danger" role="alert">
            <h5 class="alert-heading">An error occured while performing operation:</h5>
            <div class="alert-body">{{ error }}</div>
        </div>
    {% endif %}
        <div class="card">
            <h2 class="card-header">
                {% if task.is_event %}
                Event: {{ task.name }}
                {% else %}
                Task: {{ task.name }}
                {% endif %}
            </h2>
            <div class="card-body">
                <p>Description: {{ task.description }}</p>
                <p>Deadline: {{ task.deadline }}</p>
                <p>Priority: {{ task.priority }}</p>
                <p>Blocked by:</p>
                <ul>
                {% for subtask in task.blocking_tasks %}
                    <li><a href="{% url 'task' subtask.id %}">
	                    {{ subtask.id }}: {{ subtask.name }} <span class="badge badge-danger">{{ permission.task.priority }}</span>
	                </a></li>
                {% endfor %}
                </ul>
                {% if task.is_completed %}<h3 class="text-success">Completed</h3>{% elif task.is_failed %}<h3 class="text-danger">Failed</h3>{% else %}<h3 class="text-dark">In Progress</h3>{% endif %}
                {% if not task.is_completed and not task.is_failed %}
                {% if permission > 2 %}
                <p>
                    <a class="btn btn-success" href="{% url "complete_task" task.id %}">Complete task</a>
                    <a class="btn btn-danger" href="{% url "fail_task" task.id %}">Fail task</a>
                </p>
                {% endif %}
                {% if permission > 3 %}
                <p>
                    <a class="btn btn-dark" href="{% url "edit_task" task.id %}">Edit task</a>
                    <a class="btn btn-dark" href="{% url "delete_task" task.id %}">Delete task</a>
                </p>
                <details>
                <summary>More options</summary>
                <p>
                <div class="row">
                    <div class="col-auto">
                    <form action="{% url 'add_subtask' task.id %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="subtask" list="task_list"/>
                        <div class="input-group-append">
                            <button class="btn btn-dark" type="submit">Add subtask</button>
                         </div>
                    </div>
                    </form>
                    <datalist id="task_list">
                        {% for perm in lib_user.tasks_permissions %}
                            {% if not task == perm.task and not perm.task.is_completed and not perm.task.is_failed %}
                            <option value="{{ perm.task.id }}: {{ perm.task.name }}"></option>
                            {% endif %}
                        {% endfor %}
                    </datalist>
                    </div>
                {% if task.blocking_tasks %}
                    <div class="col-auto">
                    <form action="{% url 'remove_subtask' task.id %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <select name="subtask">
                            {% for subtask in task.blocking_tasks %}
                            <option value="{{ subtask.id }}">{{ subtask.id }}: {{ subtask.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-dark" type="submit">Remove subtask</button>
                         </div>
                    </div>
                    </form>
                    </div>
                {% endif %}
                </div>
                </p>

                <p>
                    <form action="{% url 'share_task' task.id %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="username" placeholder="Username">
                        <select name="accesslevel">
                            <option value="2">View</option>
                            <option value="3">Complete</option>
                            <option value="4">Edit</option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-dark" type="submit">Share task</button>
                        </div>
                    </div>
                    </form>
                </p>
                {% endif %}
                {% endif %}
                </details>
            </div>
            </div>
        </div>
    </div>
{% endblock content %}