{% extends 'base.html' %}

{% block title %}Tasks{% endblock %}

{% block content %}
{% load bootstrap4 %}
<div class="container">
    <div class="card">
    <div class="card-header">
        <h2>Filter Tasks</h2>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            <button type="submit" class="btn btn-dark">Filter tasks</button>
        </form>
    </div>
    </div>
    <p></p>
    {% if tasks %}
    <table class="table table-stripped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Task</th>
                <th scope="col">Type</th>
                <th scope="col">Deadline</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'task' task.id %}">{{ task.name }}</a></td>
                <td>{% if task.is_event %}Event{% else %}Task{% endif %}</td>
                <td>{{ task.deadline }}</td>
                <td>{% if task.is_completed %}<span class="text-success">Completed</span>{% elif task.is_failed %}<span class="text-danger">Failed</span>{% else %}<span class="text-dark">In Progress</span>{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h3>You don't have any tasks.</h3>
    {% endif %}
    <p></p>
    <a class="btn btn-lg btn-dark" href="{% url 'create_task' %}">Create new task</a>
</div>

{% endblock %}