{% extends "base.html" %}

{% block title %}{{current_user.username}}{% endblock title %}

{% block content %}
    <div class="container">
        <div class="card">
            <h5 class="card-header">{{ lib_user.username }}</h5>
            <div class="card-body">
                {% if lib_user.username == current_user.username %}
                <a class="btn btn-danger btn-lg btn-block" href="{% url "delete_user" lib_user.username %}">Delete account</a>
                {% else %}
                <form action="{% url 'send_message' current_user.username %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="message" placeholder="Message" style="width: 80%">
                        <div class="input-group-append">
                            <button class="btn btn-dark" type="submit">Send message</button>
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}